@import "partials/variables";
@import "partials/mixins";
@import url("fonts/Lato/lato-family.min.css");

@include ButtonReset;
@include LinkReset;

:root{
    --navigation-top-wrapper-width: #{$navigation-top-width-xxl};
    --navigation-top-user-width: #{$navigation-top-user-width-xxl};
    --navigation-top-main-width: #{$navigation-top-main-width-xxl};
    --content-padding: #{$content-padding-xxl};
    --content-width: #{$content-width-xxl};
}

body{
    background: $background-color;
    font-family: "Lato", sans-serif;
    font-weight: 400px;
    margin: 0;
}

//=== NAVIGATION ===
.navigation{
    //=== NAVIGATION TOP ===
    .navigation-top{
        background: $nav-top-color;
        height: $navigation-top-height;
        .navigation-item{
            color: $nav-link-primary-color;
            height: $navigation-top-height;
            line-height: 15px;
            padding: 0;
        }
        .navigation-wrapper{
            width: var(--navigation-top-wrapper-width);
            padding-left: 12px; 
            .navigation-main{
                width: var(--navigation-top-main-width);
                .navigation-location-button{
                    font-weight: 900;
                    .metro-location{ @include iconPreset(28px, 0 10px 0 0); }
                    .text-top{ font-size: 10px; }
                    .text-bottom{ font-size: 13px; }
                    &::after{
                        @include iconPreset(10px, 0 0 0 10px);
                        content: "\22";
                        transform: rotate(90deg);
                    }
                }
                
                .navigation-livechat-button{
                    .metro-support{ @include iconPreset(21px, 0 10px 0 0); }
                    .text{ font-size: 13px; }
                }
                .navigation-registration-button{
                    .metro-icr{ @include iconPreset(21px, 0 13px 0 0); }
                    .text{ font-size: 13px; }
                }
                .navigation-callcenter{
                    color: #cce0ff;
                    .metro-phone{ @include iconPreset(19px, 0 10px 0 0); }
                    .text{ font-size: 11px; }
                }
                .navigation-language-selector{
                    width: $navigation-language-selector-width;
                    box-sizing: content-box;
                    padding: 0 25px 0 15px;
                    .text{ font-size: 13px; }
                    &::before{
                        content: "\22";
                        @include iconPreset(13px, 0 7px 0 0);
                        transform: rotate(90deg);
                    }
                }
            }
            .navigation-user{
                height: $navigation-top-height;
                width: var(--navigation-top-user-width);
                &::before{
                    content: '';
                    height: 32px;
                    border-left: 1px solid #6681AA;
                    margin: auto 0;
                }
                .metro-loyalty{ @include iconPreset(25px, 0 0 0 14px);}
                .metro-list{ @include iconPreset(25px, 0 0 0 15px); }
                .metro-profile{ @include iconPreset(28px, 0 0 0 15px); }
            }
        }
    }
    //=== NAVIGATION BOTTOM ===
    .navigation-bottom{
        background: $nav-bottom-color;
        height: $navigation-bottom-height;
    }
}

//=== MENU ===
.menu{
    background: $elements-color;
    height: $menu-height;
    border-bottom: 1px solid $menu-border-color;
}

//=== PAGE CONTENT ===
.content-container{
    .content-wrapper{
        .content{
            padding: var(--content-padding);
            box-sizing: content-box;
            //=== SMALL NAVIGATION ===
            .small-nav{
                width: var(--content-width);
                height: $small-nav-height;
                .breadcrumb{
                    height: $menu-height;
                    margin: 0;
                    padding: 0;
                    .breadcrumb-item{
                        padding: 0;
                        a{
                            font-size: 13px;
                            color: #2277ff;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        &::before{
                            content: none;
                        }
                        &:not(:last-child)::after{
                            content: "\38";
                            font-family: "metro-ua";
                            padding-inline: 3px;
                        }
                    }
                }
            }
            .content-item{
                width: var(--content-width);
                background: $elements-color;
                margin-bottom: $section-margin-bottom;
            }
            .product{
                padding: $section-padding;
            }
            // === PRODUCT DETAIL ===
            .product-detail{
                height: $product-detail-height;
                margin-bottom: $section-margin-bottom;
                .product-photo-container{
                    padding: 0;
                    height: 100%;
                    .photo-selector{
                        padding: 30px 0 40px;
                        min-width: 85px;
                        .photo-option{
                            border: 1px solid white;
                            cursor: pointer;
                            img{
                                width: 83px;
                                height: 75px;
                            }
                        }
                    }
                    .product-photo{
                        .photo-container{
                            padding-right: 40px;
                        }
                    }
                }
                .product-info{
                    padding: 0;
                    .product-info-header{
                        padding: 0 10px 0 0;
                        margin-bottom: 15px;
                        h3{
                            vertical-align: middle;
                            font-size: 24px;
                            font-weight: 800;
                            color: #022E73;
                            margin: 0;
                        }
                        .product-user-buttons{
                            margin-top: 3px;
                            padding-left: 100px;
                            button{
                                &:first-child{
                                    margin-right: 10px;
                                }
                            }
                            i{
                                color: #9BA5B8;
                                font-size: 20px;
                            }
                        }
                    }
                    .product-article-code{
                        padding-left: 30px;
                        margin-bottom: 30px;
                        font-size: 13px;
                        color:#9BA5B8;
                        span{
                            color: #778899;
                        }
                    }
                    .product-price-section{
                        max-width: 360px;
                        margin-top: 30px;
                        margin-bottom: 23px;
                        a{
                            color: #2277ff;
                            text-decoration: none;
                            font-size: 13px;
                            i{
                                font-size: 20px;
                                margin-right: 13px;
                                transform: translateY(-3px);
                            }
                            &:hover{
                                color: #2277ff;
                            }
                        }
                        ul{
                            list-style-type: none;
                            margin: 0;
                            li{
                                strong{
                                    font-weight: 800;
                                    color: #212529;
                                }
                                small{
                                    font-size: 13px;
                                    color: #868c92;
                                }
                            }
                        }
                    }
                    .product-num-in-box{
                        max-width: 360px;
                        position: relative;
                        i{
                            margin-right: 8px;
                        }
                        &::after{
                            content: '';
                            width: 100%;
                            position: absolute;
                            bottom: -20%;
                            border-bottom: 1px solid rgb(236, 222, 222);
                        }
                        .text{
                            font-size: 13px;
                            color: #7f8388;
                        }
                        .num-of-items{
                            font-size: 14px;
                        }
                    }
                }
            }
            //=== PRODUCT DESCRIPTION ===
            .product-description{
                .product-description-header{
                    height: 49px;
                    margin-bottom: 30px;
                    border-bottom: 4px solid #022E73;
                    box-sizing: border-box;
                    h4{
                        vertical-align: top;
                        color:#022E73;
                        font-size: 13px;
                        font-weight: 800;
                        margin: 0;
                    }
                }
                .product-description-wrapper{
                    padding: 0 10px;
                    .text-description{
                        box-sizing: border-box;
                        margin: 0;
                        padding: 0;
                        flex-grow: 1;
                        p{
                            padding-right: 50px;
                            font-size: 13px;
                            margin-bottom: 30px;
                        }
                    }
                    .product-informations{
                        min-width: 300px;
                        box-sizing: content-box;
                        .information{
                            padding: 0;
                            padding-top: 5px;
                            font-size: 13px;
                            font-weight: 800;
                            color: #667284;
                            height: 47%;
                            &:last-child{
                                border-top: 1px solid #DFE3E7;
                            }
                            .category-content{
                                font-weight: 500;
                            }
                            .brand-content{
                                font-weight: 500;
                                color: #2277ff;
                                text-decoration: none;
                                &:hover{
                                    text-decoration: underline;
                                    color: #1759c4;
                                }
                            }
                        }
                    }
                }
                .product-description-underline{
                    color: #c4c5c5;
                    margin: 25px 0 30px;
                }
            }
        }
        //=== RECOMMENDATION ===
        .other-products-container{
            margin-bottom: 20px;
            .other-products-wrapper{
                height: 375px;
                .other-products-header{
                    .header{
                        background: white;
                        color:#022E73;
                        font-weight: 800;
                        padding: 0 15px;
                        height: 36px;
                    }
                    a{
                        cursor: pointer;
                        color: #2277ff;
                        font-size: 13px;
                        &::after{
                            content: "\38";
                            font-family: "metro-ua";
                            padding-inline: 0px;
                            font-size: 24px;
                        }
                        &:hover{
                            color: #1759c4;
                        }
                    }
                }
                .other-products-content{
                    padding: 0 20px;
                    background: white;
                    margin: 0;
                }
            }
        }
    }
}

footer{
    .footer-top{
        background-color: #00245B;
        height: 84px;
    }
    .footer-bottom{
        background: white;
        height: 246px;
    }
}

//=== PAGE BREAKPOINTS
@media (max-width: 1469px) {
    :root{
        --navigation-top-main-width: #{$navigation-top-main-width-xl};
        --navigation-top-user-width: #{$navigation-top-user-width-xl};
        --content-width: #{$content-width-xl};
        --content-padding: #{$content-padding-xl};
    }
    .navigation{
        .navigation-top{
            .navigation-wrapper{
                padding-right: 12px;
            }
        }
    }
}
@media (max-width: 1200px) {
    :root{
        --content-width: #{$content-width-lg};
        --content-padding: #{$content-padding-xl};
    }
    .navigation{
        display: none;
    }
    .menu{
        display: none;
    }
    .content-container{
        .content-wrapper{
            .content{
                padding: 0;
                padding-inline: 12px;
                .product{
                    width: 100%;
                    max-width: 1146px;
                    .product-info-header{
                        h3{
                            width: unset;
                        }
                    }
                }
            }
        }
    }
}

