@import url("fonts/Lato/lato-family.min.css");
:root {
  --navigation-top-wrapper-width: 1170px;
  --navigation-top-user-width: 132px;
  --navigation-top-main-width: 1026px;
  --content-padding: 0 200px 0 12px;
  --content-width: 958px;
}

body {
  background: #f2f7ff;
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1469px) {
  :root {
    --navigation-top-main-width: 830px;
    --navigation-top-user-width: 275px;
    --content-width: 863px;
    --content-padding: 0 295px 0 12px;
  }
}

@media only screen and (max-width: 1200px) {
  :root {
    --content-width: 100%;
    --content-padding: 0 295px 0 12px;
  }
}

.navigation .navigation-top {
  background: #33578E;
  height: 45px;
}

.navigation .navigation-top .navigation-item {
  color: #FFFFFF;
  height: 45px;
  line-height: 15px;
  padding: 0;
}

.navigation .navigation-top .navigation-wrapper {
  width: var(--navigation-top-wrapper-width);
  padding-left: 12px;
}

.navigation .navigation-top .navigation-wrapper .navigation-main {
  width: var(--navigation-top-main-width);
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-location-button {
  font-weight: 900;
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-location-button .metro-location {
  font-size: 28px;
  margin: 0 10px 0 0;
  font-family: "metro-ua";
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-location-button .text-top {
  font-size: 10px;
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-location-button .text-bottom {
  font-size: 13px;
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-location-button::after {
  padding-top: 2.4px;
  font-size: 10px;
  margin: 0 0 0 10px;
  font-family: "metro-ua";
  content: "\22";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-livechat-button .metro-support {
  font-size: 21px;
  margin: 0 10px 0 0;
  font-family: "metro-ua";
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-livechat-button .text {
  font-size: 13px;
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-registration-button .metro-icr {
  font-size: 21px;
  margin: 0 13px 0 0;
  font-family: "metro-ua";
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-registration-button .text {
  font-size: 13px;
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-callcenter {
  color: #cce0ff;
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-callcenter .metro-phone {
  font-size: 19px;
  margin: 0 10px 0 0;
  font-family: "metro-ua";
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-callcenter .text {
  font-size: 11px;
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-language-selector {
  width: 78px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 25px 0 15px;
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-language-selector .text {
  font-size: 13px;
}

.navigation .navigation-top .navigation-wrapper .navigation-main .navigation-language-selector::before {
  content: "\22";
  font-size: 13px;
  margin: 0 7px 0 0;
  font-family: "metro-ua";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation .navigation-top .navigation-wrapper .navigation-user {
  height: 45px;
  width: var(--navigation-top-user-width);
}

.navigation .navigation-top .navigation-wrapper .navigation-user::before {
  content: '';
  height: 32px;
  border-left: 1px solid #6681AA;
  margin: auto 0;
}

.navigation .navigation-top .navigation-wrapper .navigation-user .metro-loyalty {
  font-size: 25px;
  margin: 0 0 0 14px;
  font-family: "metro-ua";
}

.navigation .navigation-top .navigation-wrapper .navigation-user .metro-list {
  font-size: 25px;
  margin: 0 0 0 15px;
  font-family: "metro-ua";
}

.navigation .navigation-top .navigation-wrapper .navigation-user .metro-profile {
  font-size: 28px;
  margin: 0 0 0 15px;
  font-family: "metro-ua";
}

.navigation .navigation-top-mobile {
  background: #002D72;
  height: 56px;
  padding: 0 12px;
}

.navigation .navigation-top-mobile img {
  width: 130px;
}

.navigation .navigation-top-mobile i {
  color: white;
  font-size: 30px;
}

.navigation .navigation-bottom {
  background: #002D72;
  height: 80px;
}

.navigation .navigation-bottom-wrapper {
  width: 1026px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 132px 0 12px;
}

.navigation .navigation-bottom-wrapper .links .logo-link {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.navigation .navigation-bottom-wrapper .links .logo-link .logo-image {
  width: 130px;
  height: 26px;
}

.navigation .navigation-bottom-wrapper .links .links-list {
  margin: 0 0 0 25px;
}

.navigation .navigation-bottom-wrapper .links .links-list li:not(:last-child) {
  padding-right: 2px;
}

.navigation .navigation-bottom-wrapper .links .links-list li a {
  color: #FFFFFF;
  font-size: 12px;
}

.navigation .navigation-bottom-wrapper .search-input-container {
  position: relative;
  height: 100%;
  padding-right: 0px;
}

.navigation .navigation-bottom-wrapper .search-input-container .search-input-wrapper {
  position: relative;
  z-index: 10;
}

.navigation .navigation-bottom-wrapper .search-input-container .search-input-wrapper:focus-within {
  position: absolute;
  right: 0;
}

.navigation .navigation-bottom-wrapper .search-input-container .search-input-wrapper .search-input {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  padding: 0 12px;
  height: 40px;
  width: 330px;
  border: none;
  -webkit-box-shadow: 0 0 0 1px #ccd0d6;
          box-shadow: 0 0 0 1px #ccd0d6;
  border-radius: 2px;
  -webkit-transition: none;
  transition: none;
}

.navigation .navigation-bottom-wrapper .search-input-container .search-input-wrapper .search-input:focus {
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  outline: none;
  width: 885px;
  -webkit-box-shadow: 0 0 0 2px #5c9af7;
          box-shadow: 0 0 0 2px #5c9af7;
}

.navigation .navigation-bottom-wrapper .search-input-container .search-input-wrapper .search-right {
  position: absolute;
  top: 1px;
  right: 5px;
  height: 38px;
}

.navigation .navigation-bottom-wrapper .search-input-container .search-input-wrapper .search-right select {
  background-color: #F2F7FF;
  border-radius: 0;
  border: none;
  height: 38px;
  width: 130px;
  font-size: 14px;
}

.navigation .navigation-bottom-wrapper .search-input-container .search-input-wrapper .search-right .search-button {
  width: 32px;
  height: 32px;
  background: #0869FE;
  border-radius: 2px;
}

.navigation .navigation-bottom-wrapper .search-input-container .search-input-wrapper .search-right .search-button i {
  color: white;
  font-size: 20px;
  line-height: 10px;
}

@media only screen and (max-width: 1469px) {
  .navigation .navigation-bottom-wrapper .search-input-container {
    margin-right: 45px;
  }
}

.navigation .navigation-bottom-mobile {
  height: 43px;
  background: #FFFFFF;
  padding: 0 12px;
  border-bottom: 1px solid #E6E7EA;
}

.navigation .navigation-bottom-mobile i {
  font-size: 28px;
  width: 28px;
  height: 30px;
  color: #002D72;
}

@media only screen and (max-width: 1469px) {
  .navigation .navigation-top .navigation-wrapper {
    padding-right: 12px;
  }
}

.menu {
  background: #FFFFFF;
  height: 55px;
  border-bottom: 1px solid #E6E7EA;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

.menu-wrapper {
  width: 1170px;
  height: 100%;
  padding: 0 12px;
  position: relative;
}

.menu-wrapper .menu-list-header {
  margin-bottom: 15px;
  height: 54px;
  width: 100%;
  background: #002D72;
  padding: 0 18px;
}

.menu-wrapper .menu-list-header i {
  color: white;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.menu-wrapper .menu-link {
  font-size: 12px;
  font-weight: 800;
  color: #0869FE;
  margin-right: 25px;
}

.menu-wrapper .menu-link i {
  font-size: 22px;
  line-height: 18px;
  margin-right: 10px;
  color: #99A1AD;
  width: 22px;
  height: 22px;
}

.menu-wrapper .menu-link:first-child {
  color: #262d72;
  position: relative;
  height: 100%;
}

.menu-wrapper .menu-link:first-child i {
  color: #262d72;
}

.menu-wrapper .menu-link:first-child::after {
  content: '';
  height: 6px;
  width: 0%;
  background: #002D72;
  position: absolute;
  bottom: 0;
}

.menu-wrapper .menu-link:first-child.active::after {
  width: 100%;
}

.menu .menu-list {
  position: absolute;
  left: 12px;
  top: 100%;
  border: 1px solid #E6E7EA;
  background: #FFFFFF;
  padding: 15px 0;
  width: 958px;
  z-index: 100;
}

.menu .menu-list .menu-list-item {
  width: 33.3%;
}

.menu .menu-list .menu-list-item .menu-item-link {
  border: none;
  border-radius: 0;
  padding: 0 10px;
  height: 29px;
  font-size: 13px;
  position: relative;
  color: #0869FE;
  line-height: 29px;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  cursor: pointer;
}

.menu .menu-list .menu-list-item .menu-item-link i {
  font-size: 20px;
  line-height: 2px;
  margin-right: 13px;
  color: #667284;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.menu .menu-list .menu-list-item .menu-item-link.border-left {
  border-left: 1px solid #E6E7EA;
}

.menu .menu-list .menu-list-item .menu-item-link:not(.no-after)::after {
  position: absolute;
  right: 15px;
  font-size: 10px;
  margin: 0 0 0 10px;
  font-family: "metro-ua";
  content: "\22";
  font-size: 12px;
  color: #D4D3D7;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.menu .menu-list .menu-list-item .menu-item-link.active {
  margin: 0;
}

.menu .menu-list .menu-list-item .menu-item-link.active::after {
  right: 16px;
  padding-right: 2px;
  -webkit-transform: scale(1.2) rotate(90deg);
          transform: scale(1.2) rotate(90deg);
}

.menu .menu-list .menu-list-item .menu-item-link.active ~ .sub-menu {
  display: block;
}

.menu .menu-list .menu-list-item .menu-item-link:hover, .menu .menu-list .menu-list-item .menu-item-link.active {
  background: #E6F0FF;
}

.menu .menu-list .menu-list-item .menu-item-link:hover i, .menu .menu-list .menu-list-item .menu-item-link.active i {
  color: #0C69FE;
}

.menu .menu-list .menu-list-item .menu-item-link:hover::after, .menu .menu-list .menu-list-item .menu-item-link.active::after {
  color: #0C69FE;
}

.menu .menu-list .menu-list-item .sub-menu {
  display: none;
  position: absolute;
  list-style: none;
  top: 15px;
  left: 33.3%;
  width: 33.3%;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .menu .menu-list {
    position: relative;
    left: 0;
    top: 0;
    border: none;
    background: transparent;
    padding: 0 15px;
    width: 100%;
  }
  .menu .menu-list .menu-list-item {
    width: 100%;
  }
  .menu .menu-list .menu-list-item .menu-item-link {
    height: 45px;
    font-size: 16px;
    line-height: 29px;
    background-color: white;
  }
  .menu .menu-list .menu-list-item .menu-item-link i {
    font-size: 23px;
  }
  .menu .menu-list .menu-list-item .menu-item-link.root {
    border-top: 1px solid #f4f4f4;
  }
  .menu .menu-list .menu-list-item .menu-item-link.border-left {
    border-left: 0px solid #E6E7EA;
  }
  .menu .menu-list .menu-list-item .menu-item-link:not(.no-after)::after {
    font-size: 16px;
    color: #5f5f5f;
  }
  .menu .menu-list .menu-list-item .menu-item-link.active::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #0C69FE;
  }
  .menu .menu-list .menu-list-item .menu-item-link.active ~ .sub-menu {
    display: block;
  }
  .menu .menu-list .menu-list-item .menu-item-link:not(.root) {
    padding-left: 46px;
    height: 40px !important;
  }
  .menu .menu-list .menu-list-item .sub-menu {
    position: relative;
    top: 0px;
    left: 0%;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .menu {
    height: unset;
    margin-bottom: 15px;
    background: transparent;
    border: none;
  }
  .menu-wrapper {
    padding: 0;
  }
}

.content-container .content-wrapper .content {
  padding: var(--content-padding);
  width: var(--content-width);
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.content-container .content-wrapper .content .small-nav {
  width: var(--content-width);
  height: 49.5px;
}

.content-container .content-wrapper .content .small-nav .breadcrumb {
  height: 49.5px;
  margin: 0;
  padding: 0;
}

.content-container .content-wrapper .content .small-nav .breadcrumb .breadcrumb-item {
  padding: 0;
}

.content-container .content-wrapper .content .small-nav .breadcrumb .breadcrumb-item a {
  font-size: 13px;
  color: #0869FE;
}

.content-container .content-wrapper .content .small-nav .breadcrumb .breadcrumb-item a:hover {
  text-decoration: underline;
}

.content-container .content-wrapper .content .small-nav .breadcrumb .breadcrumb-item::before {
  content: none;
}

.content-container .content-wrapper .content .small-nav .breadcrumb .breadcrumb-item:not(:last-child)::after {
  content: "\38";
  font-family: "metro-ua";
  padding-inline: 3px;
}

@media only screen and (max-width: 768px) {
  .content-container .content-wrapper .content .small-nav .breadcrumb .breadcrumb-item {
    font-size: 10px;
  }
  .content-container .content-wrapper .content .small-nav .breadcrumb .breadcrumb-item a {
    font-size: 10px;
  }
}

.content-container .content-wrapper .content .content-width {
  width: 100%;
}

.content-container .content-wrapper .content .content-background {
  background: #FFFFFF;
}

.content-container .content-wrapper .content .content-margin-btm {
  margin-bottom: 20px;
}

.content-container .content-wrapper .content .product {
  padding: 20px 12px 35px;
}

.content-container .content-wrapper .content .product-detail {
  height: 435px;
  margin-bottom: 20px;
}

.content-container .content-wrapper .content .product-detail .product-photo-container {
  padding: 0;
  height: 100%;
}

.content-container .content-wrapper .content .product-detail .product-photo-container .product-photo-wrapper {
  padding: 0;
}

.content-container .content-wrapper .content .product-detail .product-photo-container .photo-selector {
  padding: 30px 0 40px;
  min-width: 85px;
  max-width: 85px;
}

.content-container .content-wrapper .content .product-detail .product-photo-container .photo-selector .photo-option {
  border: 1px solid white;
  cursor: pointer;
}

.content-container .content-wrapper .content .product-detail .product-photo-container .photo-selector .photo-option img {
  width: 83px;
  height: 75px;
}

.content-container .content-wrapper .content .product-detail .product-photo-container .product-photo {
  padding: 0;
  width: calc(100% - 85px);
}

.content-container .content-wrapper .content .product-detail .product-photo-container .product-photo .photo-container {
  padding-right: 40px;
}

.content-container .content-wrapper .content .product-detail .product-photo-container .product-photo .photo-container button {
  display: block;
  position: absolute;
  top: 40%;
  font-size: 0;
  z-index: 10;
}

.content-container .content-wrapper .content .product-detail .product-photo-container .product-photo .photo-container button::after {
  font-family: 'metro-ua';
  color: #0869FE;
  font-size: 1.3rem;
  display: inline-block;
  content: '\22';
}

.content-container .content-wrapper .content .product-detail .product-photo-container .product-photo .photo-container button.slick-prev {
  left: 0;
}

.content-container .content-wrapper .content .product-detail .product-photo-container .product-photo .photo-container button.slick-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.content-container .content-wrapper .content .product-detail .product-photo-container .product-photo .photo-container button.slick-next {
  right: 40px;
}

.content-container .content-wrapper .content .product-detail .product-info {
  padding: 0;
}

.content-container .content-wrapper .content .product-detail .product-info .product-info-header {
  padding: 0 10px 0 0;
  margin-bottom: 15px;
}

.content-container .content-wrapper .content .product-detail .product-info .product-info-header h3 {
  vertical-align: middle;
  font-size: 24px;
  font-weight: 800;
  color: #022E73;
  margin: 0;
  line-height: 29px;
}

.product-user-buttons {
  padding-left: 100px;
  padding-top: 5px;
}

.product-user-buttons button:first-child {
  margin-right: 10px;
}

.product-user-buttons i {
  color: #9BA5B8;
  font-size: 20px;
}

.content-container .content-wrapper .content .product-detail .product-info .product-article-code {
  padding-left: 30px;
  margin-bottom: 30px;
  font-size: 13px;
  color: #9BA5B8;
}

.content-container .content-wrapper .content .product-detail .product-info .product-article-code span {
  color: #778899;
}

.content-container .content-wrapper .content .product-detail .product-info .product-price-section {
  max-width: 360px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.content-container .content-wrapper .content .product-detail .product-info .product-price-section a {
  color: #0869FE;
  text-decoration: none;
  font-size: 13px;
}

.content-container .content-wrapper .content .product-detail .product-info .product-price-section a i {
  font-size: 20px;
  padding-top: 2px;
  margin-right: 13px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.content-container .content-wrapper .content .product-detail .product-info .product-price-section a:hover {
  color: #2277ff;
}

.content-container .content-wrapper .content .product-detail .product-info .product-price-section ul {
  list-style-type: none;
  margin: 0;
}

.content-container .content-wrapper .content .product-detail .product-info .product-price-section ul li strong {
  font-weight: 800;
  color: #212529;
}

.content-container .content-wrapper .content .product-detail .product-info .product-price-section ul li small {
  font-size: 13px;
  color: #868c92;
}

.product-num-in-box {
  max-width: 360px;
  position: relative;
  line-height: 20px;
  padding: 5px 0;
}

.product-num-in-box i {
  margin-right: 8px;
  height: 100%;
}

.product-num-in-box::after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0%;
  border-bottom: 1px solid #ecdede;
}

.product-num-in-box .text {
  line-height: 21px;
  font-size: 13px;
  color: #7f8388;
}

.product-num-in-box .num-of-items {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .content-container .content-wrapper .content .product-detail {
    height: 435px;
    margin-bottom: 20px;
  }
  .content-container .content-wrapper .content .product-detail .product-photo-container {
    padding: 0;
    height: 220px;
  }
  .content-container .content-wrapper .content .product-detail .product-photo-container .product-photo {
    width: 65%;
  }
  .content-container .content-wrapper .content .product-detail .product-photo-container .mobile-product-detail-right {
    width: 35%;
    padding: 0;
  }
  .content-container .content-wrapper .content .product-detail .product-photo-container .product-image {
    width: 198px;
    height: auto;
  }
  .content-container .content-wrapper .content .product-detail .product-info .product-info-header {
    margin-top: 20px;
  }
  .content-container .content-wrapper .content .product-detail .product-info .product-info-header h3 {
    font-size: 20px;
  }
  .product-user-buttons {
    padding: 0;
  }
  .product-user-buttons button {
    margin: 0;
  }
  .product-user-buttons button:first-child {
    margin: 0;
  }
  .content-container .content-wrapper .content .product-detail .product-info .product-article-code {
    padding-left: 0px;
  }
  .content-container .content-wrapper .content .product-detail .product-info .product-price-section {
    max-width: unset;
    width: auto;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .content-container .content-wrapper .content .product-detail .product-info .product-info-header h3 {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .content-container .content-wrapper .content .product-detail .product-info .product-info-header h3 {
    font-size: 14px;
  }
  .content-container .content-wrapper .content .product-detail .product-info .product-price-section ul li strong {
    font-size: 14px;
  }
}

.content-container .content-wrapper .content .product-description .product-description-header {
  height: 49px;
  margin-bottom: 31px;
  border-bottom: 4px solid #022E73;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-container .content-wrapper .content .product-description .product-description-header h4 {
  padding-top: 5px;
  vertical-align: top;
  color: #022E73;
  font-size: 13px;
  font-weight: 800;
  margin: 0;
}

.content-container .content-wrapper .content .product-description .product-description-wrapper {
  padding: 0 10px;
}

.content-container .content-wrapper .content .product-description .product-description-wrapper .text-description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content-container .content-wrapper .content .product-description .product-description-wrapper .text-description p {
  padding-right: 50px;
  font-size: 13px;
  margin-bottom: 30px;
}

.content-container .content-wrapper .content .product-description .product-description-wrapper .product-informations {
  min-width: 300px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.content-container .content-wrapper .content .product-description .product-description-wrapper .product-informations .information {
  padding: 0;
  padding-top: 5px;
  font-size: 13px;
  font-weight: 800;
  color: #667284;
  height: 47%;
}

.content-container .content-wrapper .content .product-description .product-description-wrapper .product-informations .information:last-child {
  border-top: 1px solid #DEE2E6;
}

.content-container .content-wrapper .content .product-description .product-description-wrapper .product-informations .information .category-content {
  font-weight: 400;
}

.content-container .content-wrapper .content .product-description .product-description-wrapper .product-informations .information .brand-content {
  font-family: 'Lato';
  font-weight: 400;
  color: #2277ff;
  text-decoration: none;
}

.content-container .content-wrapper .content .product-description .product-description-wrapper .product-informations .information .brand-content:hover {
  text-decoration: underline;
  color: #1759c4;
}

.content-container .content-wrapper .content .product-description .product-description-underline {
  color: #c4c5c5;
  margin: 25px 0 30px;
  font-size: .1rem;
}

@media only screen and (max-width: 768px) {
  .content-container .content-wrapper .content .product-description .product-description-header {
    height: 38px;
  }
  .content-container .content-wrapper .content .product-description .product-description-wrapper {
    padding: 0 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content-container .content-wrapper .content .product-description .product-description-wrapper .text-description p {
    padding-right: 0px;
  }
  .content-container .content-wrapper .content .product-description .product-description-wrapper .product-informations {
    min-width: unset;
    width: 100%;
  }
}

.content-container .content-wrapper .other-products-container {
  margin-bottom: 20px;
  max-width: 100%;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper {
  overflow: hidden;
  position: relative;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-header .header {
  background: white;
  color: #022E73;
  font-weight: 800;
  padding: 0 15px;
  height: 36px;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-header a {
  cursor: pointer;
  color: #2277ff;
  font-size: 13px;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-header a::after {
  content: "\38";
  font-family: "metro-ua";
  padding-inline: 0px;
  font-size: 24px;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-header a:hover {
  color: #1759c4;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-content {
  padding: 0 20px;
  background: white;
  margin: 0;
  height: 323.5px;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-content .slick-next {
  font-size: 0;
  position: absolute;
  right: 0;
  top: 27%;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-content .slick-next::after {
  content: '\22';
  font-size: 1.3rem;
  font-family: 'metro-ua';
  color: #0869FE;
  border: 1px solid #0869FE;
  padding: 6px;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-content .slick-prev {
  display: none !important;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-content .other-products-item {
  margin: 0;
  height: 100%;
  padding: 25px 10px;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-content .other-products-item img {
  width: 152px;
  height: 104px;
  margin: 13px 6px;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-content .other-products-item .product-name {
  margin: 0 0 10px;
  text-align: center;
  line-height: 15px;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-content .other-products-item .product-name a {
  font-size: 13px;
  color: #0F3877;
  font-weight: 800;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-content .other-products-item .product-name a:hover {
  text-decoration: underline;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-content .other-products-item .product-price {
  font-weight: 800;
  font-size: 13px;
  color: black;
}

.content-container .content-wrapper .other-products-container .other-products-wrapper .other-products-content .other-products-item .product-price .count {
  font-weight: 400;
  color: grey;
  margin-left: 2px;
}

@media only screen and (max-width: 1200px) {
  .content-container .content-wrapper .content {
    padding: 0;
    padding-inline: 12px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 1170px;
  }
  .content-container .content-wrapper .content .product {
    width: 100%;
  }
  .content-container .content-wrapper .content .product .product-info-header h3 {
    width: unset;
  }
}

footer .footer-top {
  background-color: #00245B;
  height: 84px;
}

footer .footer-top-wrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 12px;
  width: 1146px;
  height: 100%;
}

footer .footer-top-wrapper .footer-logo {
  width: 130px;
  height: 26px;
}

footer .footer-top-wrapper .footer-net-list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

footer .footer-top-wrapper .footer-net-list .net-list-item {
  margin-right: 0;
  margin-left: 40px;
  font-size: 16px;
}

footer .footer-top-wrapper .footer-net-list .net-list-item a {
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
  footer .footer-top-wrapper .footer-net-list .net-list-item {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 768px) {
  footer .footer-top-wrapper .footer-logo {
    display: none;
  }
  footer .footer-top-wrapper .footer-net-list {
    width: 100%;
  }
  footer .footer-top-wrapper .footer-net-list .net-list-item {
    margin: 0;
    font-size: 13px;
  }
}

footer .footer-bottom {
  background: white;
  height: auto;
}

footer .footer-bottom-wrapper {
  width: 1170px;
  height: 100%;
  padding: 0 12px;
}

footer .footer-bottom-wrapper .columns-wrapper {
  width: 100%;
  padding: 30px 0 10px;
  border-bottom: 1px solid #D3D7DD;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-bottom-wrapper .columns-wrapper .column {
  height: 100%;
  font-family: 'Lato', sans-serif;
  width: 28.4%;
  margin-bottom: 20px;
}

footer .footer-bottom-wrapper .columns-wrapper .column:last-child {
  width: 14.8%;
}

footer .footer-bottom-wrapper .columns-wrapper .column h3 {
  font-size: 18px;
  font-weight: 900;
  color: #002D72;
  line-height: 24px;
  margin-bottom: 10px;
}

footer .footer-bottom-wrapper .columns-wrapper .column ul {
  line-height: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-bottom-wrapper .columns-wrapper .column ul li {
  font-size: 13px;
}

footer .footer-bottom-wrapper .columns-wrapper .column ul li a {
  color: #002D72;
}

footer .footer-bottom-wrapper .columns-wrapper .column ul li a:hover {
  text-decoration: underline;
}

footer .footer-bottom-wrapper .columns-wrapper .column ul li i {
  font-size: 17px;
  width: 17px;
  height: 17px;
  margin-right: 8px;
}

footer .footer-bottom-wrapper .columns-wrapper .column ul li i.metro-phone {
  margin-top: 3px;
}

footer .footer-bottom-wrapper .footer-bottom-btm {
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: #002D72;
}

footer .footer-bottom-wrapper .footer-bottom-btm .text {
  padding: 18px 0;
  line-height: 20px;
}

@media only screen and (max-width: 992px) {
  footer .footer-bottom-wrapper .columns-wrapper .column {
    width: 50%;
  }
  footer .footer-bottom-wrapper .columns-wrapper .column:last-child {
    width: 50%;
  }
}

#dark-filter {
  position: fixed;
  display: none;
  top: 0;
  background-color: rgba(0, 0, 0, 0.595);
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

#dark-filter.show {
  display: block;
}
/*# sourceMappingURL=style.css.map */