//=== VARIABLES ===
@import "variables/variables";

//=== MIXINS ===
@import "mixins/mixins";

//=== FONTS ===
@import "fonts/fonts";

//=== BASE ===
@import "base/base";

//=== PARTS ===
@import "parts/parts";


@media (max-width: 1469px) {
    :root{
        --navigation-top-main-width: #{$navigation-top-main-width-xl};
        --navigation-top-user-width: #{$navigation-top-user-width-xl};
        --content-width: #{$content-width-xl};
        --content-padding: #{$content-padding-xl};
    }
    .navigation{
        .navigation-top{
            .navigation-wrapper{
                padding-right: 12px;
            }
        }
    }
}
@media (max-width: 1200px) {
    :root{
        --content-width: #{$content-width-lg};
        --content-padding: #{$content-padding-xl};
    }
    .navigation{
        display: none;
    }
    .menu{
        display: none;
    }
    .content-container{
        .content-wrapper{
            .content{
                padding: 0;
                padding-inline: 12px;
                .product{
                    width: 100%;
                    max-width: 1146px;
                    .product-info-header{
                        h3{
                            width: unset;
                        }
                    }
                }
            }
        }
    }
}