.navigation-bottom{
    background: $nav-bottom-color;
    height: $navigation-bottom-height;
    &-wrapper{
        width: 1026px;
        flex-shrink: 0;
        box-sizing: content-box;
        padding: 0 132px 0 12px;
        .links{
            .logo-link{
                flex-shrink: 1;
                flex-grow: 0;
                .logo-image{
                    width: 130px;
                    height: 26px;
                }
            }
            .links-list{
                margin: 0 0 0 25px;
                li{
                    &:not(:last-child){
                        padding-right: 2px; 
                    }
                    a{
                        color: $link-primary-color;
                        font-size: 12px;
                    }
                }
            }
        }
        .search-input-container{
            position: relative;
            .search-input{
                font-weight: 400;
                font-family: "Lato", sans-serif;
                padding: 0 12px;
                height: 40px;
                width: 330px;
                border: none;
                box-shadow: 0 0 0 1px #ccd0d6;
                border-radius: 2px;
                &:focus{
                    outline: none;
                }
            }
            .search-right{
                position: absolute;
                top: 2px;
                right: 6px;
                height: 38px;
                select{
                    background-color: #F2F7FF;
                    border-radius: 0;
                    border: none;
                    height: 38px;
                    width: 130px;
                    font-size: 14px;
                }
                .search-button{
                    width: 32px;
                    height: 32px;
                    background: $link-color;
                    border-radius: 2px;
                    i{
                        color: white;
                        font-size: 20px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}