.navigation-bottom{
    background: $nav-bottom-color;
    height: $navigation-bottom-height;
    &-wrapper{
        width: 1026px;
        height: 100%;
        flex-shrink: 0;
        box-sizing: content-box;
        padding: 0 132px 0 12px;
        .links{
            .logo-link{
                flex-shrink: 1;
                flex-grow: 0;
                .logo-image{
                    width: 130px;
                    height: 26px;
                }
            }
            .links-list{
                margin: 0 0 0 25px;
                li{
                    &:not(:last-child){
                        padding-right: 2px; 
                    }
                    a{
                        color: $link-primary-color;
                        font-size: 12px;
                    }
                }
            }
        }
        .search-input-container{
            position: relative;
            height: 100%;
            padding-right: 0px;
            .search-input-wrapper{
                position: relative;
                z-index: 10;
                &:focus-within{
                    position: absolute;
                    right: 0;
                }
                .search-input{
                    font-weight: 400;
                    font-family: "Lato", sans-serif;
                    padding: 0 12px;
                    height: 40px;
                    width: 330px;
                    border: none;
                    box-shadow: 0 0 0 1px #ccd0d6;
                    border-radius: 2px;
                    transition: none;
                    &:focus{
                        transition: width 1s ease;
                        outline: none;
                        width: 885px;
                        box-shadow: 0 0 0 2px #5c9af7;
                    }
                }
                .search-right{
                    position: absolute;
                    top: 1px;
                    right: 5px;
                    height: 38px;
                    background-color: #F2F7FF;
                    .cstm-select{
                        .text{
                            height: 100%;
                            padding-left: 15px;
                        }
                        border-radius: 0;
                        border: none;
                        height: 100%;
                        width: 130px;
                        font-size: 14px;
                        position: relative;
                        cursor: pointer;
                        &::after{
                            font-family: 'metro-ua';
                            content: '\22';
                            color: black;
                            position: absolute;
                            top: 50%;
                            right: 15px;
                            transform: translateY(-50%) rotate(90deg);
                        }
                    }
                    .search-button{
                        width: 32px;
                        height: 32px;
                        background: $link-color;
                        border-radius: 2px;
                        i{
                            color: white;
                            font-size: 20px;
                            line-height: 10px;
                        }
                    }
                }
            }
        }
    }
}

@include media-xxl{
    .navigation-bottom{
        &-wrapper{
            .search-input-container{
                margin-right: 45px;
            }
        }
    }
}

@include media-xxl{
    .navigation-bottom{
        &-wrapper{
            .search-input-container{
                .search-input-wrapper{
                    .search-input{
                        &:focus{
                            width: 840px;
                        }
                    }
                }
            }
        }
    }
}