.navigation-bottom-mobile{
    height: 43px;
    background: $elements-color;
    padding: 0 12px;
    border-bottom: 1px solid $menu-border-color;
    i{
        font-size: 28px;
        width: 28px;
        height: 30px;
        color: #002D72;
    }
}