.menu-list{
    position: absolute;
    left: 12px;
    top: 100%;
    border: 1px solid $menu-border-color;
    background: $elements-color;
    padding: 15px 0;
    width: $content-width-xxl;
    z-index: 100;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    .menu-list-item{
        width: 33.3%;
        .menu-item-link{
            border: none;
            border-radius: 0;
            padding: 0 10px;
            height: 29px;
            font-size: 13px;
            position: relative;
            color: $link-color;
            line-height: 29px;
            transition: background-color 300ms;
            cursor: pointer;
            i{
                font-size: 20px;
                line-height: 2px;
                margin-right: 13px;
                color: #667284;
                transition: color 250ms;
            }
            &.border-left{
                border-left: 1px solid $menu-border-color;
            }
            &:not(.no-after)::after{
                position: absolute;
                right: 15px;
                @include iconPreset(10px, 0 0 0 10px);
                content: "\22";
                font-size: 12px;
                color: #D4D3D7;
                transition: color 250ms;
            }
            &.active{
                margin: 0;
                &::after{
                    right: 16px;
                    padding-right: 2px;
                    transform: scale(1.2) rotate(90deg);
                }
                & ~ .sub-menu{
                    display: block;
                }
            }
            &:hover, &.active{
                background: #E6F0FF;
                i{
                    color: #0C69FE;
                }
                &::after{
                    color: #0C69FE;
                }
            }
        }
        .sub-menu{
            display: none;
            position: absolute;
            list-style: none;
            top: 15px;
            left: 33.3%;
            width: 33.3%;
            padding: 0;
            margin: 0;
        }
    }
}

@include media-xl{
    .menu-list{
        position: relative;
        left: 0;
        top: 0;
        border: none;
        background: transparent;
        padding: 0 15px;
        width: 100%;
        .menu-list-item{
            width: 100%;
            .menu-item-link{
                height: 45px;
                font-size: 16px;
                line-height: 29px;
                background-color: white;
                i{
                    font-size: 23px;
                }
                &.root{
                    border-top: 1px solid rgb(244, 244, 244);
                }
                &.border-left{
                    border-left: 0px solid $menu-border-color;
                }
                &:not(.no-after)::after{
                    font-size: 16px;
                    color: #5f5f5f;
                }
                &.active{
                    &::after{
                        transform: rotate(90deg);
                        color: #0C69FE;
                    }
                    & ~ .sub-menu{
                        display: block;
                    }
                }
                &:not(.root){
                    padding-left: 46px;
                    height: 40px !important;
                }
            }
            .sub-menu{
                position: relative;
                top: 0px;
                left: 0%;
                width: 100%;
            }
        }
    }
}