.menu{
    background: $elements-color;
    height: $menu-height;
    border-bottom: 1px solid $menu-border-color;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    &-wrapper{
        width: 1170px;
        height: 100%;
        padding: 0 12px;
        position: relative;
        .menu-list-header{
            margin-bottom: 15px;
            height: 54px;
            width: 100%;
            background: #002D72;
            padding: 0 18px;
            i{
                color: white;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
        }
        .menu-link{
            font-size: 12px;
            font-weight: 800;
            color: $link-color;
            margin-right: 25px;
            i{
                font-size: 22px;
                line-height: 18px;
                margin-right: 10px;
                color: #99A1AD;
                width: 22px;
                height: 22px;
            }

            &:first-child{
                color: #262d72;
                position: relative;
                height: 100%;
                i{
                    color: #262d72;
                }
                &::after{
                    content: '';
                    height: 6px;
                    width: 0%;
                    background: #002D72;

                    position: absolute;
                    bottom: 0;
                }
                &.active::after{
                    width: 100%;
                }
            }
        }
    }
    @import "menulist";
}

@include media-xl{
    .menu{
        height: unset;
        margin-bottom: 15px;
        background: transparent;
        border: none;
        &-wrapper{
            padding: 0;
        }
    }
}