//=== NAVIGATION TOP ===
$navigation-top-height: 45px;

$navigation-top-width-xxl: 1170px;

$navigation-top-main-width-xxl: 1026px;
$navigation-top-main-width-xl: 830px;

$navigation-top-user-width-xxl: 132px;
$navigation-top-user-width-xl: 275px;

$navigation-language-selector-width: 79px;

//=== NAVIGATION BOTTOM ===
$navigation-bottom-height: 80px;

//=== MENU ===
$menu-height: 55px;

//=== SMALL NAV ===
$small-nav-height: 49.5px;

//=== CONTENT ===
$content-width-xxl: 958px;
$content-width-xl: 863px;
$content-width-lg: 100%;

$content-padding-xxl: 0 200px 0 12px;
$content-padding-xl: 0 295px 0 12px;

//=== PRODUCT DETAIL ===
$product-detail-height: 435px;

$section-padding: 20px 12px 35px;
$section-margin-bottom: 20px;