@mixin ButtonReset() {
    button{
        background: transparent;
        border: none;
        padding: 0;
    }
}
@mixin LinkReset(){
    a{
        text-decoration: none;
    }
}
@mixin iconPreset($font-size, $margin){
    font-size: $font-size;
    margin: $margin;
    font-family: "metro-ua";
}   