//=== COLORS ===
$background-color: #f2f7ff;
$nav-bottom-color: #002D72;
$nav-top-color: #33578E;

$nav-link-primary-color: #FFFFFF;

$menu-border-color: #E6E7EA;

$elements-color: #FFFFFF;

//=== SIZES ===
$navigation-top-height: 45px;

$navigation-top-width-xxl: 1170px;

$navigation-top-main-width-xxl: 1026px;
$navigation-top-main-width-xl: 830px;

$navigation-top-user-width-xxl: 132px;
$navigation-top-user-width-xl: 275px;

$navigation-language-selector-width: 79px;


$navigation-bottom-height: 80px;

$menu-height: 55px;

$small-nav-height: 50px;

$content-width-xxl: 958px;
$content-width-xl: 863px;

$content-padding-xxl: 0 200px 0 12px;
$content-padding-xl: 0 295px 0 12px;

$product-detail-height: 435px;

$section-padding: 20px 12px 35px;
$section-margin-bottom: 20px;