//=== COLORS ===
$background-color: #f2f7ff;
$nav-bottom-color: #002D72;
$nav-top-color: #33578E;

$nav-link-primary-color: #FFFFFF;

$menu-border-color: #E6E7EA;

$elements-color: #FFFFFF;

//=== SIZES ===
$navigation-top-height: 45px;
$navigation-bottom-height: 80px;
$menu-height: 55px;

$section-margin-bottom: 20px;