.footer-bottom{
    background: white;
    height: auto;
    &-wrapper{
        width: 1170px;
        height: 100%;
        padding: 0 12px;
        .columns-wrapper{
            width: 100%;
            padding: 30px 0 10px;
            border-bottom: 1px solid #D3D7DD;
            flex-wrap: wrap;
            .column{
                height: 100%;
                font-family: 'Lato', sans-serif;
                width: 28.4%;
                margin-bottom: 20px;
                &:last-child{
                    width: 14.8%;
                }
                h3{
                    font-size: 18px;
                    font-weight: 900;
                    color: #002D72;
                    line-height: 24px;
                    margin-bottom: 10px;
                }
                ul{
    
                    line-height: 24px;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li{
                        font-size: 13px;
                        a{
                            color: #002D72;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        i{
                            font-size: 17px;
                            width: 17px;
                            height: 17px;
                            margin-right: 8px;
                            &.metro-phone{
                                margin-top: 3px;
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom-btm{
            width: 100%;
            height: 100%;
            font-size: 13px;
            color: #002D72;
            .info{
                padding: 18px 0;
                line-height: 20px;
            }
            .cstm-select{
                margin-right: 20px;
                position: relative;
                color: $link-color;
                cursor: pointer;
                &::before{
                    font-family: 'metro-ua';
                    content: '\22';
                    position: absolute;
                    font-size: 1rem;
                    left: -30px;
                    top: 50%;
                    transform: translateY(-50%) rotate(90deg);
                }
                .select-box{
                    bottom: 110% !important;
                    top: unset !important;
                    right: 0;
                }
            }
        }
    }
}

@include media-lg{
    .footer-bottom{
        &-wrapper{
            .columns-wrapper{
                .column{
                    width: 50%;
                    &:last-child{
                        width: 50%;
                    }
                }
            }
        }
    }
}