#dark-filter{
    position: fixed;
    display: none;
    top: 0;
    background-color: rgba(0, 0, 0, 0.595);
    width: 100vw;
    height: 100vh;
    z-index: 5;
    &.show{
        display: block;
    }
}



.select-box{
    display: none;
    border: 1px solid rgb(182, 182, 182);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    width: 77px;
    z-index: 50;
    &.bottom{
        bottom: 100%;
        top: unset;
    }
    .options-container{
        .option{
            height: 35px;
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 15px;
            font-size: 13px;
            color: black;
            cursor: pointer;
            background-color: white;
            z-index: 50;
            &:not(:last-child)::after{
                content: '';
                position: absolute;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
                margin-left: 0;
                margin-right: 0;
                background: rgb(24, 24, 24);
                height: 1px;
                width: 60%;
            }
            &:hover{
                background: #5897FB;
                color: white;
            }
        }
    }
    &.active{
        display: inline-block;
    }
}