.content-container{
    .content-wrapper{
        .content{
            padding: var(--content-padding);
            width: var(--content-width);
            margin: 0 auto;
            box-sizing: content-box;
            //=== SMALL NAVIGATION ===
            @import "small-nav";

            .content-width{
                width: 100%;
            }
            .content-background{
                background: $elements-color;
            }
            .content-margin-btm{
                margin-bottom: $section-margin-bottom;
            }
            .product{
                padding: $section-padding;
            }

            // === PRODUCT DETAIL ===
            @import "product-detail";
            //=== PRODUCT DESCRIPTION ===
            @import "product-description";
        }
        //=== OTHER PRODUCTS RECOMENDATION ===
        @import "other-products";
    }
}

@include media-xl{
    .content-container{
        .content-wrapper{
            .content{
                padding: 0;
                padding-inline: 12px;
                box-sizing: border-box;
                max-width: 1170px;
                .product{
                    width: 100%;
                    .product-info-header{
                        h3{
                            width: unset;
                        }
                    }
                }
            }
        }
    }
}