.other-products-container{
    margin-bottom: 20px;
    max-width: 100%;
    .other-products-wrapper{
        overflow: hidden;
        position: relative;
        .other-products-header{
            .header{
                background: white;
                color:#022E73;
                font-weight: 800;
                padding: 0 15px;
                height: 36px;
            }
            a{
                cursor: pointer;
                color: #2277ff;
                font-size: 13px;
                &::after{
                    content: "\38";
                    font-family: "metro-ua";
                    padding-inline: 0px;
                    font-size: 24px;
                }
                &:hover{
                    color: #1759c4;
                }
            }
        }
        .other-products-content{
            padding: 0 20px;
            background: white;
            margin: 0;
            height: 323.5px;
            .slick-next{
                font-size: 0;
                position: absolute;
                right: 0;
                top: 27%;
                &::after{
                    content: '\22';
                    font-size: 1.3rem;
                    font-family: 'metro-ua';
                    color: $link-color;
                    border: 1px solid $link-color;
                    padding: 6px;
                }
            }
            .slick-prev{
                display: none !important;
            }
            .other-products-item{
                margin: 0;
                height: 100%;
                padding: 25px 10px;
                img{
                    width: 152px;
                    height: 104px;
                    margin: 13px 6px;
                }
                .product-name{
                    margin: 0 0 10px;
                    text-align: center;
                    line-height: 15px;
                    a{
                        font-size: 13px;
                        color: #0F3877;
                        font-weight: 800;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .product-price{
                    font-weight: 800;
                    font-size: 13px;
                    color: black;
                    .count{
                        font-weight: 400;
                        color: grey;
                        margin-left: 2px;
                    }
                }
            }
        }
    }
}
